body {
    background-color: rgb(58, 3, 58);
    color:aqua;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 700px;
    margin: 0;
}
button {
    background-color: rgb(2, 62, 2);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
.passo{
    display:nome;
}
.passo.ativo{
    dsiplay: block;
}
main{
    text-align: center;
    max-width: 90%;
}
img{
    max-width: 90%;
}